tools/simulator/simulator
tools/packet-receiver/packet-receiver
tools/packet-sender/packet-sender
tools/process-logs/process-logs
tools/process-logs/tmp/*
tools/experiment/experiment
tools/experiment/tmp/*
tools/experiment/data/*

querying/test/*
saved_plots/*

config/experiment/new_data.json
config/experiment/old_vs_new.json
config/experiment/single_link.json

*.test
*.log
*.out
*.png